html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: rgb(70 ,70 ,70);
}

a {
  color: inherit;
  text-decoration: none;
}

/*App*/
.app-container {
  display: flex;
  background-color: rgb(145, 156, 143);

}

/*NavBar*/
nav.nav-container {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav.nav-container .nav-item-container {
  padding: 25px;
}

/*HomePage*/
.dashboard {
  width:100%;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Card*/
.card-container {
  background-color: rgb(255, 255, 255);
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0,8 0px 6px 25px 0px, rgba(0,0,0,0.05) 0 0 0 1px);
  cursor: pointer;
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-container .tag {
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  margin: 10px 0 10px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-container .tag:nth-child(1) {
  margin-left: 0 !important;
}

.card-container .info-container {
  display: flex;
  justify-content: space-between;
}

/*Images*/
.nav-bar-image {
  cursor: pointer;
  width: 140px;
  height: 140px;
}

.main-image{
  width: 100%;
  height: 250px;
}

.post-image {
  height: 250px;
}

.main-image-post-view {
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avatar {
  height: 75px;
  width: 75px;
  border-radius: 40px;
  margin: 5px;
}

/*Post*/
.post-container {
  background-color: rgb(255, 255, 255);
  margin: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0,8 0px 6px 25px 0px, rgba(0,0,0,0.05) 0 0 0 1px);
  padding: 20px;
}

.post-container .info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-container .main-image-post-view, 
.post-container .author-map-container {
  width: 48%;
}

.author-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}

.map-container .map {
  width: 100%;
  height: 200px;
}